<div class="breadcrump-wrapper">
    <ul class="breadcrumb" itemprop="breadcrumb">
        {% for item in pathway.pathway %}
            {% if item.name != '' %}
            <li class="{{ currentUrl|replace({'/' : ''}) == item.link ? 'current': '' }}">
                {% if item.link != '' %}
                    <a href="{{ item.link }}">{{ item.name|striptags }}</a>
                {% else %}
                    <a class="not-active" href="javascript:void(0)">{{ item.name|striptags }}</a>
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>