<form action="">
    <div>
        <input type="text">
    </div>
    <div>
        <input type="text">
    </div>
    <div>
        <button type="submit">ok</button>
        <input type="reset" />
    </div>
</form>