{% block frameSearch %}
    {% apply spaceless %}
        <h2>{{ 'searchbyframe'|t }}</h2>
        <span class="example gray">{{ 'inputframe'|t(frameExample) }}</span>
        <form name="findByFrame" onsubmit="checkFrameValue(this.frameNo.value, this.frameSubmit);return false;"
              id="findByFrame">
            <input type="hidden" name="task" value="vehicles"/>
            <input type="hidden" name="ft" value="findByFrame"/>
            <input type="hidden" name="c" value=""/>

            <div id="FrameNoInput" class="g_input">
                <input class="catalog_search_input" name="frameNo" type="text"
                       id="frameNo" size="17" width="120" value="">
                <input type="submit" class="btn search" name="frameSubmit" value="" id="frameSubmit">
            </div>
        </form>
    {% endapply %}
{% endblock %}