{% extends 'error.twig' %}

{% block message %}
    <div class="error-message-block">
        <h2>Error :(</h2>
        <span>Sorry, but you didn't add backurl in your catalogs settings.</span>
    </div>
{% endblock %}