{% block oemSearch %}
    {% apply spaceless %}
        <div class="find">
            <form name="findByOEM" onSubmit="checkOem(this.OEM.value, '#OEM', this.ssd.value); return false"
                  id="findByOEM">

                <div id="OEMInput" class="g_input">
                    <input placeholder="{{ 'findOems'|t }}" class="catalog_search_input" name="oem"
                           type="text" id="OEM" size="17" value=""/>
                    <input type="submit" class="btn search" name="oemSubmit" value="" id="oemSubmit"/>
                </div>

                <input type="hidden" name="task" value="applicabilitydetails"/>
                <input type="hidden" name="ssd" value="{{ vehicle.ssd ?: ssd }}"/>
                <input type="hidden" name="vid" value="{{ vehicle.vehicleid }}"/>
                <input type="hidden" name="c" value="{{ cataloginfo.code }}"/>
            </form>
        </div>
    {% endapply %}
{% endblock %}