/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; border-radius: 3px;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/*
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{}
#cboxTopLeft{}
#cboxTopCenter{}
#cboxTopRight{}
#cboxBottomLeft{}
#cboxBottomCenter{}
#cboxBottomRight{}
#cboxMiddleLeft{}
#cboxMiddleRight{}
#cboxContent{background:#fff; overflow:visible; padding: 20px;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{margin-bottom:5px;}
#cboxLoadingOverlay{background:url(../images/loading_background.png) no-repeat center center;}
#cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}
#cboxTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    color: #333333;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #ffffff;
    font-size: 14px;
    font-weight: 500;
    min-height: 18px;
    vertical-align: middle;
}

#cboxTitle a {
    color: #333333;
    font-size: 14px;
    font-weight: 500;
}
#cboxCurrent{
    position: absolute;
    left: 10px;
    color: #333333;
    font-size: 14px;
    font-weight: 500;
}

#cboxClose {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 12px;
    height: 12px;
    color: #006FA4;
    background: url(../images/cross.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#cboxPrevious, #cboxNext, #cboxSlideshow {
    position: absolute;
    bottom: -29px;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    border-top: solid 1px #333;
    border-right: solid 1px #333;
}
#cboxPrevious{
    left: 10px;
    background-position: -51px -25px;
    bottom: 50%;
    transform: rotate(225deg);
}
#cboxPrevious:hover{background-position:-51px 0px;}
#cboxNext{
    right: 10px;
    background-position: -75px -25px;
    bottom: 50%;
    transform: rotate(45deg);
}
#cboxNext:hover{background-position:-75px 0px;}
/*#cboxClose{background-position:-100px -25px;}*/
/*#cboxClose:hover{background-position:-100px 0px;}*/

.cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px; right:27px;}
.cboxSlideshow_on #cboxSlideshow:hover{background-position:-150px 0px;}
.cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px; right:27px;}
.cboxSlideshow_off #cboxSlideshow:hover{background-position:-125px 0px;}